# Notebook Instructions

1. If you are new to Jupyter notebooks, please go through this introductory manual <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank">here</a>.
1. Any changes made in this notebook would be lost after you close the browser window. **You can download the notebook to save your work on your PC.**
1. Before running this notebook on your local PC:<br>
i.  You need to set up a Python environment and the relevant packages on your local PC. To do so, go through the section on "**Run Codes Locally on Your Machine**" in the course.<br>
ii. You need to **download the zip file available in the last unit** of this course. The zip file contains the data files and/or python modules that might be required to run this notebook.

# Lists

Lists in Python, are used to store heterogeneous types of data. Lists are mutable i.e. one can change the content within a list, without changing its identity.

## Creating lists
List is enclosed by square brackets and elements should be separated by a comma.

In [1]:
new_list = []  # Empty List
type(new_list)

list

In [2]:
new_list = [10, 20, 30, 40]  # A list of integers
type(new_list)

list

In [3]:
new_list = [10, 20.2, "thirty", 40]  # A list of mixed data types
type(new_list)

list

In [4]:
new_list = [[10, 20, 30], [10.1, 20.2, 30.3], [
    "ten", "twenty", "thirty"]]  # A nested list
type(new_list)

list

In [5]:
new_list = [10, [20.2, ["thirty", [40]]]]  # A deeply nested list
type(new_list)

list

## Different methods for list manipulation
Let us have a look at few of the methods, with which we can manipulate lists.<br>
<br>
Please Note: A function or a method is a block of code which is used to perform a single task or a set of tasks repeatedly.

In [6]:
my_list = [10,20,30,40] # This is the 'original' list which you have cerated 

print (my_list)

[10, 20, 30, 40]

list.<b>append</b> (x) <br>
Add an item to the end of the list.

In [7]:
my_list.append(50)

print(my_list)

[10, 20, 30, 40, 50]

list.<b>extend</b> (x) <br>
Extend the list by appending all the items at the end of the list.

In [8]:
my_list.extend([60, 70, 80, 90])

print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

list.<b>insert</b> (i,x) <br>
Insert an item at any given position within the list. The first argument 'i', is the index of the item before which you want to insert something. To insert something at the beginning of the list, you may type list.insert (0,x)

In [9]:
# Inserting an item in the beginning
my_list.insert(0, 0)

print(my_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [10]:
# Inserting an item at the end or at the integer location of 10 in this case
my_list.insert(10, 100)

print(my_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [11]:
# Inserting an item at the 6th position in a list
my_list.insert(6, 55)

print(my_list)

[0, 10, 20, 30, 40, 50, 55, 60, 70, 80, 90, 100]

list.<b>remove</b> (x)<br>
Remove the first item from the list whose value is 'x'. It is an error if there is no such item.

In [12]:
my_list.remove(0)

print(my_list)

[10, 20, 30, 40, 50, 55, 60, 70, 80, 90, 100]

list.<b>pop</b> (i) <br>
Remove any item from any given position (index) in the list. If no index is specified, it removes and returns the last element from the list.

In [13]:
# Removes and returns the '5th' element from the list
my_list.pop(5)

55

In [14]:
print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [15]:
# Removes and returns the last element from the list
my_list.pop()

100

In [16]:
print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

list.<b>index</b> (x) <br>
It returns a zero-based index in the list of the first item whose value is x. Raises an error of there is no such item as 'x'.

In [17]:
my_list.index(50)

4

In [18]:
my_list.index(10)

0

In [19]:
print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

list.<b>count</b> (x) <br>
Returns the number of times 'x' appears in the list

In [20]:
new_list = [10, 10, 10, 20, 30, 40, 50]

new_list.count(10)

3

list.<b>reverse</b> () <br>
It reverses the items of the list.

In [21]:
print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [22]:
my_list.reverse()

print(my_list)

[90, 80, 70, 60, 50, 40, 30, 20, 10]

list.<b>sort</b> () <br>
It sorts the items in the list.

In [23]:
new_list = [12, 35, 76, 20, 56, 34, 65]
print(new_list)

[12, 35, 76, 20, 56, 34, 65]

In [24]:
new_list.sort()

print(new_list)

[12, 20, 34, 35, 56, 65, 76]

In the upcoming IPython Notebook, we will see how Lists are used as:

1. <b>'Stacks'</b>
2. <b>'Queues'</b>
3. <b>'Graphs'</b>
4. <b>'Trees'</b>

So, Stay Tuned! <br><br>